.header-info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title-header{
    background-color: dodgerblue;
    text-align: center;
    font-size: 60px;
    padding: 40px;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.personal-img{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    max-width: 150px;
    max-height: 300px;
    margin-left: auto;
    margin-top: auto;
}

.list-title{
    border-bottom-style: solid;
}

main{
    margin-left: 5px;
}

.footer{
    background-color: dodgerblue;
    text-align: center;
    margin-top: 150px;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}

@media screen and (max-width: 550px) { 
    /* beginning of media query */
     .header-info{
         display:block;
     }
        
    /* end of media query */ 
    } 