.title-header{
    background-color: dodgerblue;
    text-align: center;
    font-size: 60px;
    padding: 40px;
    color: white;
}

.personal-img{
    float: right;
    max-width: 150px;
    max-height: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.footer{
    background-color: dodgerblue;
    text-align: center;
    margin-top: 50px;
    color: white;
}