.title-header{
    background-color: dodgerblue;
    text-align: center;
    font-size: 60px;
    padding: 40px;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}

.personal-img{
    float: right;
    max-width: 150px;
    max-height: 300px;
    margin-right: 50px;
}

.list-title{
    border-bottom-style: solid;
}

main{
    margin-left: 5px;
}

.footer{
    background-color: dodgerblue;
    text-align: center;
    margin-top: 50px;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}