@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Merriweather&family=Merriweather+Sans&display=swap');



/*font-family: 'Arvo', serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
*/

body{
    background-color:whitesmoke;
}

main{
    background-color: gainsboro;
    max-width: 1000px;
    margin: auto;
}


header{
    background-color: lightsalmon;
    font-family: 'Arvo' , 'serif';
}
footer{
    text-align: center;
    padding: 5px;
    background-color: lightsalmon;
    font-family: 'Arvo' , 'serif';
    max-width: 1000px;
    margin: auto;
}

h1, h2 , h3 , h4 , h5{
    background-color: lightskyblue;
    color: white;
    font-family: 'Merriweather Sans' , serif;
}

p{
    font-family: 'Merriweather', 'serif';
}

img{
    max-width: 300px;
    max-height: 300px;
}

.navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
    margin: 0px;
    list-style-type: none;
    margin: 0px;
    background-color: lightslategrey;
    color:white;
    font-family: 'Arvo', serif;
    font-size: 30px;
}


.navigation a:hover{
    background-color: lightsalmon;
}

a:visited{
    color: white;
}

.navigation li:first-child{
    display: none;
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
}

.heading-motto{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.logo-img{
    max-width: 100px;
    max-height: 100%;
    padding: 10px;
    order: 1;
}

.web-heading{
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 40px;
}

.website-motto{
    text-align: center;
    margin: 0px;
}

.current-page{
    background-color: lightskyblue;
}

#friday-event{
    display: none;
    background-color: yellow;
    padding: 10px;
    text-align: center;
}

.gallery-images{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    margin: 0px 20px 0px 20px;
}

.img-1{
    margin-top: 20px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.img-2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.img-3{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin-bottom: 20px;
}

.img-4{
    margin-top: 20px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.img-5{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.img-6{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.img-7{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.img-8{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.img-9{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

figure{
    margin: 0px;
    border: 3px black solid;
    width: 300px;
}

main img{
    margin: auto;
}

img[data-src] {
    filter: blur(0.2em);
  }

  img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  main img:hover{
      box-shadow: 0 0 50px #333;
  }

  figcaption{
      background-color: lightskyblue;
      text-align: center;
      color: white;
  }

