img{
    margin: auto;
}

header h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    text-align: center;
    font-size: 1em;
}

picture{
    margin: auto;
}