
nav{
    margin:0 auto;
    max-width: 750px;
}

.navigation li:first-child{
    display: block;
}

.navigation{
    display: block;
    padding: 3px;
}

.navigation li{
    display: none;
}

.navigation a{
    display: block;
    padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}

.responsive li{
    display: block;
}

.img{
    max-width: 100px;
    max-height: 100px;
}

.web-heading{
    font-size: 18px;
}

.main-header{
    font-size: 18px;
}

.content-1{
    height: 50px;
    text-align: left;
}

.content-2{
    height: 50px;
    text-align: left;
}

.content-3{
    height: 50px;
    text-align: left;
}

.content-4{
    height: 50px;
    text-align: left;
}

main{
    max-width: 550px;
}

footer{
    max-width: 550px;
}