header{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 150px 1fr;
    border: 3px navy solid;
}

nav{
    background-color: slategray;
    margin: 0;
}

main{
    background-color: aquamarine;
    margin: 0;
}

footer{
    padding: 10px;
    background-color: lightblue;
    text-align: center;
    border: 3px navy solid;
}

h1 , h2 , h3 , h4{
    background-color: whitesmoke;
    text-align: center;
}

.navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
    margin: 0px;
    list-style-type: none;
    margin: 0px;
    font-family: 'Sora', serif;
    font-size: 30px;
}


.navigation li:hover{
    background-color: lightpink;
}

a:visited{
    color: white;
}

.navigation li:first-child{
    display: none;
}

.navigation li{
    padding:3px;
}

.logo-img{
    width: 100px;
    height: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
    padding: 5px;
}

.header-info{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.header-title{
    margin: 20px;
}

.current-page a{
    color: red;
}

form fieldset{
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 25px;
}

form label.top, form div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 18px;
}

form label.top input,  form label.top select{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: white;
}

form label.sbs{
    display: flex;
    flex-direction: column;
    padding: .4rem 0;

}

form input.submitBtn{
    border: none;
    background-color: palegoldenrod;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 50% 2rem 30%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

input:invalid{
    background-color: red;
}

fieldset{
    background-color: lightgray;
}

textarea{
    width: 1000px;
    height: 150px
}

.thankyou{
    margin: 0;
    padding: 15px;
    border: 3px solid navy;
    font-weight: bold;
    text-align: center;
}

.personal-info{
    margin-top: 0;
}

.added-info{
    border: 3px solid navy;
    margin: 15px;
    margin-top: 0;
    padding: 10px;
    background-color: lightgray;
}

.added-info h2{
    margin-top: 0;
}