img{
    margin: auto;
}

header h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    text-align: center;
    font-size: 1em;
}

main img[data-src] {
    filter: blur(0.2em);
  }

main img {
    filter: blur(0em);
    transition: filter 0.5s;
  }