@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Merriweather&family=Merriweather+Sans&display=swap');

/*font-family: 'Arvo', serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
*/

body{
    background-color:whitesmoke;
}

main{
    background-color: gainsboro;
}

nav{
    background-color: lightslategrey;
    color:white;
    font-family: 'Arvo', serif;
}

footer, header{
    background-color: lightsalmon;
    font-family: 'Arvo' , 'serif';
}

h1, h2 , h3 , h4 , h5{
    background-color: lightskyblue;
    color: white;
    font-family: 'Merriweather Sans' , serif;
}

p{
    font-family: 'Merriweather', 'serif';
}

img{
    max-width: 300px;
    max-height: 300px;
}

.navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px;
    list-style-type: none;
}

.navigation li:hover{
    background-color: lightsalmon;
}

a:visited{
    color: white;
}

/* End of Basic Design CSS */

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo-img{
    max-width: 100px;
    max-height: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.web-heading{
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.website-motto{
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}