@import "/week8/js/medium-textarea.js";

.navigation{
    font-size: 20px;
    padding: 3px;
}

.img{
    max-width: 200px;
    max-height: 200px;
}

.web-heading{
    font-size: 30px;
}



main{
    max-width: 750px;
}

footer{
    max-width: 750px;
}

.thank-you{
    padding: 40px;
}

