@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Slab&display=swap');


img{
    width: 200px;
    height: 400px;
}

h1 , h2 , h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

p{
    font-family: 'Roboto Slab', sans-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr , 1fr , 1fr;
    grid-gap: 5em;
}

.visual-hierarchy{
    grid-column: 1 / 2;
    border: 5px solid #696969;
    
}

.visual-hierarchy h2{
    background-color: #FF7F50;
    color: white;
    padding: 100%;
}

.visual-hierarchy h3{
    background-color: royalblue;
    color: white;
}

.visual-paragraph-1{
    text-align: center;
}

.visual-img{
    margin: auto;
}

.hicks-law{
    grid-column: 2 / 3;
    border: 5px solid #696969;
    background-color: oldlace;
}

.hicks-law h2{
    background-color: #FF7F50;
    color: white;
}

.hicks-law h3{
    background-color: royalblue;
    color: white;
}

.hicks-paragraph-1{
    text-align: center;
}

.hicks-img{
    margin: auto;
}

.fitts-law{
    grid-column: 3 / 4;
    border: 5px solid #696969;
    background-color: oldlace;
}

.fitts-law h2{
    background-color: #FF7F50;
    color: white;
}

.fitts-law h3{
    background-color: royalblue;
    color: white;
}

.fitt-paragraph-1{
    text-align: center;
}

.fitt-img{
    margin: auto;
}

@media screen and (max-width: 1000px) { 
    /* beginning of media query */
        .main{
            display: grid;
            grid-template-columns: 1fr , 1fr;
        }

        .visual-hierarchy{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .hicks-law{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        .fitts-law{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin: auto;
        }
    } 

    @media screen and (max-width: 500px) { 
        /* beginning of media query */
            .main{
                display: block;

            .visual-hierarchy{
                margin: auto;
            }
    
            .hicks-law{
                margin: auto;
            }
    
            .fitts-law{
                margin: auto;
            }
        } 