@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Slab&display=swap');


img{
    width: 200px;
    height: 400px;
}

h1 , h2 , h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

p{
    font-family: 'Roboto Slab', sans-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr , 1fr , 1fr;
    grid-gap: 5em;
}